<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- enable JMX -->
    <jmxConfigurator/>

    <springProfile name="dev">
        <logger name="logic" level="DEBUG" />
    </springProfile>

    <springProfile name="test">
        <logger name="logic" level="DEBUG" />
    </springProfile>

    <springProfile name="prod">
        <logger name="logic" level="info" />
    </springProfile>

</configuration>